[Unit]
Description=Proxy NoDPI service

[Service]
User=__user__
WorkingDirectory=__path__
ExecStart=/bin/bash -c 'cd __path__ && source venv/bin/activate && python __runner__'
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
